<html>
<head>
	<title>SoundActualCloud</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

</head>

<body>
	<div id = "title">
		<h1>dscvr</h1>
		<div id = "tape"><h2>.im</h2></div>
	</div>
	
	<div id = "cloud">
		<div class = "cloud-base">
			<div id = "record"></div>
			<div id = "record-2"></div>
		</div>
		<div class = "cloud-body"></div>
		<div id = "search"><input type="text" class="rounded" placeholder="Search for an artist..."/></div>
	</div>
	
</body>
				
<script>

$(document).ready(function() {
    $('#search input').autocomplete({
        source: "/autocomplete",
    });
});

	$('#search input').keypress(function (e) {
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) { //Enter keycode
       var query = $('#search input').val();
       if (query.length > 1) {
			window.location = 'map?artist='+escape(query);
       }
    }
})
</script>

<!--  <body>
    <div align="center"><img src="static/css/soundcloudorange.png" width="500" height="300" alt="SoundCloud logo"/></div>
    <h1>SOUND <font color="DAA520">(ACTUAL?)</font> CLOUD</h1>
    
	<div class = "search-wrapper">
		<form method="post" action="" id="search-text" action="/render">
			<input type="submit" class="submit-button" value="Search" text-align="center">
 		</form>
    </div>
</body> -->


</html>
