@font-face {
	font-family: LeagueGothicRegular;
	src: url('../fonts/leaguegothic-regular-webfont.ttf');
}

@font-face {	
	font-family: Helvetica;
}

body {
	background: #EDEDED;
	opacity: .9;
	color: #696969; /*#a69881;*/
}

p {
	font-family: Helvetica;
	
}

h1 {
	font-size: 50px;
	color: #7BD6FF;
	text-shadow: 2px 2px 0px #EDEDED, 4px 4px 0px #7BD6FF;
}

h2 {
	font-size: 13px;
	color: #fff;
	line-height: 20px;
}

h4 {
	font-size: 36px;
	line-height: 36px;
	font-style: bold;
	color: #696969;
	padding-bottom: 25px;
}

h6 {
	font-size: 18px;
	color: #696969;
	padding-top: 15px;
}

#head {
	width: 350px;
}

.container-fluid {
	padding-right: 0px;
}

.row-fluid {
	position: relative;
	overflow: hidden;
}

#bg-pattern {
	background: -webkit-repeating-radial-gradient(center, circle, #d4d4d4, white 2%, #d4d4d4 2%);
	height: 800px;
	width: 800px;
	border-radius: 50%; /* circle */
	
	position: absolute;
	top: -250px;
	left: 550px;
	z-index: 1;
	
	opacity: .15;
	
}

#bg-pattern-2 {
	width: 350px;
	height: 350px;
	border-radius: 50%; /* circle */
	position: absolute;
	top: 230px;
	left: 230px;
	z-index: 2;
  background: #d4d4d4;
}

#bg-pattern-3 {
	width: 200px;
	height: 200px;
	border-radius: 50%; /* circle */
	position: absolute;
	top: 300px;
	left: 300px;
	background: #7BD6FF;
	z-index: 3;
}


#tape {
	background: #ff9130;
	width: 30px;
	height: 20px;
	border-radius: 2px;
	opacity: .95;
	text-align: center;
	position: relative;
	-webkit-transform: rotate(10deg);
	left: 97px;
	top: -13px;
}

#title {
	width: 275px;
	position: relative;
	-webkit-transform: rotate(-17deg);
}

.sidebar-cont {
	width: 400px;
    display:inline-block;
}


#search-group {
	background: white;
	margin-top: 32px;
	padding: 10px 5px;
	height: 45px;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);	
}

#artist-info {
	background: white;
	padding: 7px 7px;
	margin-top: 20px;
	overflow: auto;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}

#artist-l {
	width: 30%;
	float: left;
	padding: 7px;
}

#artist-r {
	width: 62%;
	float: right;
	padding-right: 7px;
}




.node {
      stroke: #fff;
      stroke-width: 1.5px;
}

.node circle:hover {
    cursor:pointer;
}

.node text:hover {
    cursor:pointer;
}

.selected {
      stroke: red !important;
}

.link {
      stroke: #696969;
        stroke-opacity: .8;
}

#hero {
    position: absolute;
    background: none;
	z-index: -90;
    padding:0;
    margin-top: -250px;
    display: inline-block;
    margin-left: -300px;
    min-height:500px;
}



#search-input {
    z-index: 1;
    position: relative;
    font-family: "HelveticaNeueW01-75Bold", "Helvetica", Arial, sans-serif;
    outline: none;
    border: none;
		padding: 5px 5px 5px 50px;
    margin-left: -4px;
    font-size: 20px;
    background: none;
    top: -4px;
		height: 45px;
		width: 387px;
		
		border: 3.5px solid #ff9130;
		outline: none;
}

/* why isn't this working? */
input:focus {
	outline: none;
}

.icon {
    margin: 0px 12px 0px 0px;
    padding: 4px 24px 0px 12px;
    display: inline-block;
    position: relative;
    top: 3px;
    height: 32px;
    width: 32px;
    margin-right: -67px;
}

.icon svg {
    width: 32px;
    height: 32px;
    fill: #666;
}

#back {
	z-index: 999;
    display: inline-block;
}
#back:hover {
    cursor: pointer;
}

#back svg {
    width:50px;
    margin-bottom: 40px;
    margin-left: -60px;
    fill: #666;
    z-index:9999;
    position:absolute;
}

#back svg circle { stroke: #666; }

g.node text {
    color: #333;
}

#queue {
    position: fixed !important;
    background-color: #3b5998;
    border-bottom: 1px solid #133783;
    min-width: 981px;
    position: relative;
    z-index: 300;
}